
.action-button {
    button {
        width: 200px;
        height: 50px;
        margin: 5px 0;
    }
}

.login {
    position: relative;
    top: 20vh;
    mat-form-field{
        font-size: 18px;
        width: 300px;
    }
}

.progress-spinner{
    position: absolute;
    top: 15px;
    right: 10px;
}